body{
    background-color: #081367;
    min-height: 70vh;
}

/* .bgimg{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: blur(4px);
    opacity: 0.2;
} */

.content{
    font-size: 3rem;
    color: white;
}

.formtb{
    margin-left: 10.8rem;
    width: 21rem;
}

/* hr{
    margin-top: 44rem;
} */

.divSect{
    display: flex;
    justify-content: space-around;
    margin-top: 45rem;
    align-items: center;
}

.divSect > div{
    width: 35%;
}

.bodyimg{
    max-width: 100%
}

.lefttxt{
    font-size: 2.45rem;
    color: white;
}
