
/* .content{
    display: flex;
    justify-content: space-between;
    margin: 100px 10px 0;
    align-items: center;
}

.container > div{
    width: 50%;
} */

/* .registrationform{
    font-size: 30rem;
} */